.nav-link{
   color: #808081;
   font-family: mulish;
}
.bg-nav-hero{
    background-color: #F0ECF9;
    border-radius: 0px, 0px, 30px, 0px;
    width: 100%;
height: 570px;
gap: 0px;
border-radius: 0px 0px 300px 0px;
opacity: 0px;

}
.hero1{
   color:#6F42C199;
   font-family: mulish;
   text-transform: uppercase;
}
.hero2{
    color: #6F42C1;
    font: Mulish;
    font-family: Mulish;
    font-weight: 900;
    font-size: 48.27px;
text-align: left;

}
.hero3{
    font-family: Mulish;
font-size: 15px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #808081;
}
.herobtn{
    width: Hug (175.5px)px;
height: Hug (44.8px)px;
top: 172.21px;
padding: 12.9px 32.25px 12.9px 32.25px;
gap: 20px;
border-radius: 25.8px;
opacity: 0px;
 background-color: #6F42C1;

}
.h2-pt2{
  
    gap: 0px;
    opacity: 0px;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 900;
    line-height: 37.65px;
   
    color: #6F42C1;        

}
.p-pt2{
   color: #808081;

}
.pt2-numb{
    font-family: Mulish;
font-size: 35px;
font-weight: 900;
line-height: 23px;
text-align: left;

}
.pt2-cases{
    margin-left: 40px;
    color: #808081;
}
.h-1pt1{
color: #6F42C1;
font-size: 30px;
font-weight: 900;
line-height: 37.65px;
text-align: left;

}
.h1pt-3{
color: #6F42C1;

font-size: 30px;
font-weight: 900;
line-height: 37.65px;
text-align: left;

}
.bugicon{
   margin-left: 50px;
}
.bullet{
 list-style-image: url(images/check_circle.png);
 color: #989898;
}
.bullet2{
    list-style-image:url(images/check_circle.png) ;
}
.pt3-btn{
    width: Hug (161.5px)px;
    height: Hug (44.8px)px;
    top: 279px;
    padding: 12.9px 32.25px 12.9px 32.25px;
    gap: 20px;
    border-radius: 25.8px;
    opacity: 0px;
    background-color: #6F42C1;
    
}
.bg-#F8F5FC{
    background: #F8F5FC;
}
.same{
    width: 239px;
height: 300px;
top: 32px;
left: 421px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;

}
.pt4-text{
   
    font-weight: bolder ;
    color: #6F42C1;
    font-size: 18px;
}
.pt4-text2{
    color: #989898;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    
}
.home-card2{
    border: 1px;
  box-shadow: grey;
gap: 0px;
border-radius: 10px;
opacity: 0px;
}
a{
    color: #6F42C1;
    text-decoration: none;
}
.footerlist{
    color: #6F42C1;
}
.pt6-1{
    list-style: url(images/check_green.png);
    line-height: 3;
}
.pt6-2{
    list-style: url(images/close_24px.png);
    line-height: 3;
}
.purple-section{
    background-color: #F8F5FC;
    margin-top: 5%;
    padding-bottom: 60px;
}
.cards{
    display: flex;
}
.card-padding-top{
    padding-top: 10rem;
}
.card-body{
    padding: 27px;
}
.cards-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-section h5 {
    color: #6F42C1;
    font-family: 'mulish';
    font-size: 30px;
    font-weight: 900;
}
.cards-para p {
    max-width: 80%;
    font-family: 'mulish';
    font-size: 15px;
    color: #808081;
    font-weight: 500;
}
.check-signli{
    list-style: url(images/check_circle.png);
}
.check-section p {
    font-family: 'mulish';
    font-size: 15px;
    color: #808081;
    font-weight: 500;
}
.card-btn {
    padding: 10px 41px;
    background-color: #6F42C1;
    color: white;
    border-radius: 25.8px;
    text-transform: uppercase;
    border: 1px solid #6F42C1;
    font-family: 'mulish-light';
    font-weight: 400;
    margin-top: 1rem;
}
.two-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 3rem; */
    gap: 2rem;
    margin-right: 4rem;
}

@media screen and (min-width:300px) and (max-width:760px) {
    .img-of-protect{
        position: absolute;
        right: 280px;
        top: 200rem;
        width: 200%;
        height: 200px;
        width: ;
    }
    .cont1{
        padding-top: 0px;
    }
    .corona-s{
        bottom: 30px;
        top: 90px;
        position: relative;
    }
    .number{
        align-items: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .prevernt{
        position: relative;
        width: 100%;
        margin: auto;
        display: none;
    }
    .py-5{
        padding: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .check-section{
        margin-top: 2rem;
    }
    .cards-para {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .check-sign {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .check-sign img {
        width: 17px;
        height: 17px;
        margin-top: -20px;
    }
    .check-sign {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .c-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check-section * {
        text-align: center;
    }
    .cards-section {
        flex-direction: column;
    }
    .cards {
        flex-direction: column;
        column-gap: 1rem;
    }

}